html, body {
  margin: 0;
  padding: 0;
}

#message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  width: 200px;
  height: 20px;
  line-height: 20px;
  border: 1px solid black;
}

.box1 {
  height: 1000px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
  background-color: gray;
}
.target {
  border: 1px solid black;
}

#container {
  height: 500px;
  overflow: auto;
}

.transition {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.collapse {
  height: 0;
}
